* {
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    background: url(../capstone_api/images/pink5-background.jpg) no-repeat fixed;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.landingPage {
    position: relative;
}

.title {
    position: absolute;
    top: 310px;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);

    text-align: center;
    color: rgb(255, 255, 255);
}

.title h1, .title h2 {
    font-weight: normal;
}

.title h1 {
    font-size: 45px;
}

.title h2{
    font-size: 38px;
}

.content {
    margin-top: 40px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.search-container {
    background: url(../capstone_api/images/flower3-background.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 650px;
    padding-top: 5%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

header > h2 {
    color: #C2185B;
    font-size: 40px;
    margin-bottom: 30px;
}

header > h2:hover {
    transition: 0.5s ease;
    transform: scale(1.05);
}

label > p input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute;  /*Remove input from document flow */
}

label {
    width: 80px;
    height: 65px;
    cursor:pointer;
    display: inline-block;
    border-radius: 2px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

label:before {
    margin-left: 22%;
}

label:hover, label:focus {
    transition: .5s ease;
    transform: scale(1.1);
}

label > p {
    color: #E91E63;
    font-size: 13px;
}

label > p:hover {
    color: #D22986;
    transition: .5s ease;
    text-decoration: underline;
}

label > p > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
    content: url('images/1487853173_heart.png');
    border-radius: 2px;
}

input + img {
    width: 29px;
}

#js-search-box {
    display: inline-block;
    width: 55%;
    height: 50px;
    border: 1px solid #D22986;
    border-radius: 3px;
    margin-top: 28px;
    padding: 10px 0 10px 0;

    -webkit-box-shadow: 0 9px 6px -6px #DB84AF,;
       -moz-box-shadow: 0 9px 6px -6px #DB84AF;
            box-shadow: 0 8px 6px -6px #DB84AF;
}

#js-input {
    width: 90%;
    color: #D22986;
    font-size: 17px;
    border: none;
}

#js-input:-webkit-autofill,
#js-input:-webkit-autofill:hover,
#js-input:-webkit-autofill:focus,
#js-input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

#js-search-box:hover {
    border: 1px solid #DB84AF;
    transition: .5s ease;
    transform: scale(1.01);
    -moz-box-shadow: 0 0 10px #DB84AF; 
    -webkit-box-shadow: 0 0 10px #DB84AF; 
    box-shadow: 0 0 10px #DB84AF;
    color: #BF0000;
}

#js-input:focus, button:focus { 
    outline: none;
    border-color: none;
    background-color: white;
}
.spanButton {
    margin-left: 18px;
}

#searchIcon {
    width: 22px;
    padding-bottom: 5px;
}

button {
    background-color: white;
    border:none;
}

#searchIcon:hover {
    transform: scale(1.1);
    transition: .5s ease;
}

.imageAndInfo {
    /*background-color: rgba(255, 255, 255, 0.7);*/
    padding-left: 10%;
}

.showInfo, .containerImage {
    display: inline-block;
    vertical-align: top;
}

.containerImage {
    position: relative;
}

.showImage {   
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    border: 4px solid #3e2b14;
    border-radius: 1px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 44%;
    left: 24%;
}

.containerImage:hover .showImage {
    opacity: 1;
    transform: scale(1.08);
}

.containerImage:hover .middle {
    opacity: 1;
}

.text {
    border: 1px solid #E91E63;
    background-color: #E91E63;
    border-radius: 2px;
    color: white;
    font-size: 15px;
    font-weight: normal;
    padding: 1px 15px 1px 15px;
}

.showInfo {
    width: 54%;
    margin-top: 31px;
    margin-left: 4%;
    color: #757575;
    font-size: 17px;
}

.glyphicon-usd {
    font-size: 13px;
    margin-left: -3px;
    color: #757575;
}

.material-icons {
    margin-right: 4px;
    font-size: 16px;
    color: #757575;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #F8BBD0;
    margin: 1em 0; 
}

.information {
    display: none;
    width: 100%;
}

#linkName {
    text-decoration: none;
    color: #C2185B;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 8px;
}

#linkName:hover {
    border-bottom: 2px solid #C2185B; 
}

#map {
    margin-bottom: 30px;
    margin-top: -250px;
    height: 540px;
    width: 100%;
}

@media (max-width: 700px) {

    html {
        width: 100%;
        background-size: 100%;
    }
    .title {
        top: 97px;
        width: 100%;
    }
    .search-container {
        width: 100%;
        height: 500px;
        opacity: 1;
    }
    .content {
        top: 25%;
    }
    .title h1 {
        font-size: 20px;
    }
    .title h2 {
        font-size: 17px;
    }
    header > h2 {
        font-size: 19px;
    }
    input + img {
        width: 23px;
    }
    label {
        width: 75px;
    }
    label > p {
        font-size: 11px;
    }
    #js-search-box {
        width: 88%;
        height: 38px;
        margin-top: 11px;
        padding-top: 1px;
    }
    #js-input {
        font-size: 13px;
        width: 81%;
    }
    #searchIcon {
        width: 18px;
        padding-bottom: 3px;
    }
    #map {
        width: 100%;
        height: 250px;
        margin-top: -240px;
    }
    .imageAndInfo {
        padding-left: 6%;
    }
    .containerImage {
        width: 170px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .middle {
        left: 15%;
        top: 55%;
    }
    .showInfo {
        width: 100%;
        font-size: 14px;
        margin-left: 0;
        margin-bottom: 12px;
        margin-top: 45px;
    }
    .information {
        width: 100%;
    }
    button {
        width: 35px;
        height: 35px;
    }
    #linkName {
        font-size: 17px;
    }
    .rating {
        font-size: 13px;
        padding: 3px;
    }
    .rating-md {
        font-size: 19px;
    }
}

@media (min-width: 750px) and (max-width: 800px) {
    html {
        background-size: 100%; 
    }
    .title {
        width: 100%;
        top: 210px;
    }
    .search-container {
        margin-top: -610px;
        height: 600px;
    }
    #js-search-box {
        padding-left: 4px;
        padding-right: 8px;
    }
    #js-input {
        font-size: 18px;
    }
    label > p {
        font-size: 17px;
    }
    label {
        width: 90px;
    }
    .middle {
        left: 23%;
    }
}

@media (min-width: 1000px) and (max-width: 1050px) {
    html {
        background-size: 100%; 
    }
    .title {
        top: 270px;
        width: 100%;
    }
    .search-container {
        margin-top: -795px;
        height: 800px;
    }
    label > p {
        font-size: 22px;
    }
    label {
        width: 110px;
    }
    #js-input {
        width: 85%;
        font-size: 20px;
    }
    #js-search-box {
        width: 60%;
        height: 65px;
        margin-top: 40px;
        padding-top: 3px;
    }
    #searchIcon {
        width: 33px;
        padding-bottom: 5px;
    }
    button {
        width: 57px;
        height: 57px;
        padding-top: 5px;
        padding-right: 6px;
    }
    #searchIcon {
        height: 35px;
    }
    #map {
        margin-top: -380px;
    }
}












