* {
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

body {
    padding-top: 10%;
}

.container {
    width: 45%;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

header > h2 {
    color: #508DCE;
    font-size: 47px;
    margin-bottom: 30px;
}

header > h2:hover {
    color: #E376AC;
    transform: scale(1.04);
}

label > p input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute;  /*Remove input from document flow */
}

label {
    width: 60px;
    height: 65px;
    cursor:pointer;
    display: inline-block;
    border-radius: 2px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

label:before {
    margin-left: 22%;
}

label:hover, label:focus {
    transform: scale(1.1);
}

label > p {
    color: #68A7D4;
    font-size: 12px;
}

label > p:hover {
    color: #DB84AF;
    text-decoration: underline;
}

label > p > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
    content: url('images/1487854257_88.png');
    border-radius: 2px;
}

input + img {
    width: 28px;
}

#js-input {
    width: 55%;
    height: 40px;
    color: #848484;
    font-size: 15px;
    border: 1px solid #D0D0D0;
    border-radius: 3px 0px 0px 3px;
    border-right: none;
    margin-top: 20px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 6px;
}

#js-input:hover {
    border: 1px solid #DB84AF;
    border-radius: 3px;
    color: #DB84AF;
    /*-moz-box-shadow: 0 0 10px #DB84AF; 
    -webkit-box-shadow: 0 0 10px #DB84AF; 
    box-shadow: 0 0 3px #DB84AF;*/
}

button {
    width: 42px;
    height: 40px;
    background-color: white;
    border: 1px solid #D0D0D0;
    border-left: #E9EBEE;
    border-radius: 0px 3px 3px 0px;
    padding-right: 2px;
}

button:hover {
    border: 1px solid #DB84AF;
    border-radius: 3px;
    transform: scale(1.03);
    -moz-box-shadow: 0 0 10px #DB84AF; 
    -webkit-box-shadow: 0 0 10px #DB84AF; 
    box-shadow: 0 0 5px #DB84AF;
}


.showInfo, .containerImage {
    display: inline-block;
    vertical-align: top;
}

.containerImage {
    position: relative;
    margin-left: 3%;
}

.showImage {
    
    margin-top: 17px;
    margin-bottom: 17px;
    opacity: 1;
    display: block;
    border-radius: 3px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 20%;
}

.containerImage:hover .showImage {
    opacity: 1;
}

.containerImage:hover .middle {
    opacity: 1;
}

.text {
    color: white;
    font-size: 17px;
    padding: 3px;
}

.showInfo {
    width: 65%;
    margin-top: 20px;
    margin-left: 5%;
    color: #A3A5A8;
    font-size: 16px;
}

.name {
    color: #508DCE;
}

.information {
    width: 80%;
}

.phone {
    margin-right: 4px;
}

.rating {
    color: white;
    font-size: 15px;
    padding: 5px;
    margin-left: 15px;
    border-radius: 6px;
    float: right;
}

#searchIcon {
    height: 30px;
    padding: 4px 6px 7px 3px;
    
}

#map {
    margin-top: 35px;
    margin-bottom: 22px;
    height: 540px;
    width: 100%;
}

@media (max-width: 500px) {
    body {
        padding-top: 10%;
    }
    .container {
        width: 100%
    }
    header > h2 {
        font-size: 18px;
    }
    input + img {
        width: 18px;
    }
    label {
        width: 45px;

    }
    label > p {
        font-size: 7px;
    }
    #js-input {
        font-size: 13px;
        width: 65%;
        height: 35px;
        margin-top: 5px;
        padding-top: 6px;
    }
    #map {
        height: 250px;
    }
    .showImage {
        width: 150px;
        height: 150px;
        margin-top: 3px;
    }
    .showInfo {
        width: 90%;
        font-size: 12px;
        margin-left: 10px;
        margin-top: -10px;
    }
    .information {
        width: 92%;
    }
    button {
        width: 35px;
        height: 35px;
    }
    .name {
        font-size: 17px;
    }
    .rating {
        font-size: 13px;
        padding: 3px;
    }
}























